button{
    width: 100%;
    background-color: #d2b48c;
    color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(80, 57, 30, 0.4);
}
input{
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}
.content{
    background-color: #fff;
    width: 600px;
    margin: 60px auto;
    border: 1px solid #8d6449;
    padding: 40px;  
}
body{
    font-size: 14px;
    background-color: #fafafa;

}

h1{
    font-size: 24px;
    margin: 0px;
}
.control{
    margin-bottom: 3em;
}
label{
    display: block;
    margin-bottom: .3em;
}
.required{
    margin-left: .3em; /*左の余白を0.3em（1文字の30%）に */
    color: #f33; /*文字の色を#f33に */
    font-size: .9em; /*フォントサイズを0.9em（1文字の90%）に　*/
    padding: 3px; /*要素内余白を3pxに */
    background-color: #fee; /*背景色を#feeに */
    font-weight: bold;
}
